#fondo_espol {
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;

}

.menu{
    max-width: 100%;
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2px;
    background-color: lightgrey;
    font-size: large;
}

.titulo{
    margin: 10px;
}

.pregunta{
    width: 60%;
    min-width: 500px;
    float: left;
}

.top{
    width: 40%;
    height: 500px;
    float: left;
    color:white;
}


p {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

ul, ol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    list-style: none;
    margin-left: 10px;
    color:white;
}

li::before{
    content: "\2022";
    color: rgb(177, 182, 255);
    padding-right: 8px;
}

hr {
    height: 5px;
    width: 95%;
    background-color: whitesmoke;
}

#main{
    margin: 10px;
    max-width: 100%;
    background-color: red;

}

