.menu{
    max-width: 100%;
    margin: 10px;
    padding: 2px;
    background-color: lightblue;
}

.titulo{
    margin: 10px;
}

.pregunta{
    width: 60%;
    min-width: 500px;
    float: left;
}

.top{
    width: 40%;
    height: 1000px;
    background-color: rgb(247, 247, 247);
    float: left;
}

p {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

ul, ol {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    list-style: none;
    margin-left: 10px;
}

li::before{
    content: "\2022";
    color: rgb(177, 182, 255);
    padding-right: 8px;
}

hr {
    height: 5px;
    width: 95%;
    background-color: whitesmoke;
}

#main{
    margin: 10px;
    max-width: 100%;
    background-color: red;

}